@import "./../../styles.scss";

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 140px;
  background-color: var(--background-light);
  box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.499);
  z-index: 1000;
}

.header-content {
  max-width: 1440px;
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(1rem, 2vw, 1.25rem);
  padding-right: clamp(1rem, 2vw, 1.25rem);
}

.logo {
  display: none;
}

.logo-img {
  height: 40px;
  cursor: pointer;
}

.headline-text {
  font-family: var(--font-primary);
  font-size: 20px;
  padding-left: 94px;
}

.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: clamp(0rem, 2vw, 1.875rem);
  gap: 12px;
}

.help-icon {
  width: 18px;
  display: flex;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.user-profile {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }

  p {
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 500;
    color: #29aae1;
    text-align: center;
  }
}

.user-menu-links {
  position: absolute;
  top: 42px;
  right: 0;
  transform: translate(0);
  display: flex;
  flex-direction: column;
  width: 150px;
  height: auto;
  background-color: var(--background-dark);
  padding: 10px;
  gap: 8px;
  border-radius: 20px 0 20px 20px;
  z-index: 2;
  @include inter400-fs16;
  a {
    color: #a8a8a8;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 8px;
    border-radius: 10px;

    &:hover {
      color: white;
      background-color: #2a3d59;
    }
  }

  .mobile-help-link {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-content {
    margin-left: 0;
    margin-right: 8px;
  }
}

@media (max-width: 1000px) {
  .headline {
    display: none;
  }

  .help-icon {
    display: none;
  }

  .logo {
    display: block;
  }

  .icon-section {
    padding-right: 0;
    gap: 0;
  }
  .user-menu-links {
    .mobile-help-link {
      display: block;
    }
  }
}
