<section>
    <div class="left-frame">
        <img src="assets/img/logo/logo.png" alt="Join Logo" class="logo">
        <h1>Add contact</h1>
        <p class="sub-heading">Tasks are besser with a team!</p>
    </div>
    <div class="right-frame">
        <div class="close-btn-wrapper">
            <button>
                <img src="assets/img/icons/close.png" alt="Close Button" >
            </button>
        </div>
        <div class="form-wrapper">
            <div class="img-user-wrapper">
                <img class="img-user" src="assets/img/svg/person.svg" alt="User Image">
            </div>
            <form action="">
                <div class="form-group">
                    <input type="text">
                    <img src="" alt="">
                </div>
                <div class="form-group">
                    <input type="text">
                    <img src="" alt="">
                </div>
                <div class="form-group">
                    <input type="text">
                    <img src="" alt="">
                </div>
                <div class="form-group">
                    <button>
                        Cancel
                        <img src="assets/img/icons/close.png" alt="">
                    </button>
                    <button>
                        Create contact
                        <img src="assets/img/icons/check-light.png" alt="">
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
