@import "./styles.scss";

.contacts-layout {
  display: flex;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.contact-list-container {
  flex-shrink: 0;
  width: 400px;
  max-width: 1440px;
  margin-left: 0;
  margin-right: 0;
  padding: 12px 8px;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.499);
}

.contact-details-wrapper {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.contact-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: background-color 300ms ease-in-out;

  &.backgroundVisible {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.toast-message {
  position: fixed;
  bottom: 10%;
  right: 20%;
  width: 300px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  @include inter400-fs20;
  color: var(--text-color-light);
  background-color: var(--background-dark);
  border-radius: 10px;
  @media (max-width: 780px) {
    right: 2.5%;
    bottom: 25%;
  }
}

@media (max-width: 780px) and (min-width: 300px) {
  .contacts-layout {
    justify-content: center;
    padding: 0;
    width: 100%;
    flex-direction: column;
  }

  .contact-list-container {
    width: 100%;
    max-width: none;
    flex: 1;
    overflow-y: auto;
    height: 100%;

    &.mobile-hidden {
      display: none;
    }
  }

  .contact-details-wrapper {
    display: none;
    width: 100%;
    position: relative;

    &.mobile-visible {
      display: flex;
      flex: 1;
      width: 100%;
    }
  }
}