<div class="contacts-layout">
    <div
      class="contact-list-container"
     [class.mobile-hidden]="showContactDetails"
    >
     <app-contact-list
       (contactSelected)="onContactSelected()"
     ></app-contact-list>
    </div>
     <div
       class="contact-details-wrapper"
       [class.mobile-visible]="showContactDetails"
     >
      <app-contact-details
        (backToList)="onBackToList()"
        (noContactVisible)="onNoContactVisible()"
      ></app-contact-details>
    </div>
</div>
<!-- Contact Form als Overlay - nur anzeigen wenn showForm$ true ist -->
<div
  *ngIf="showForm$ | async"
  class="contact-form-overlay"
  [@slideInOut]="animationDirection"
  (@slideInOut.done)="onOverlayAnimationDone($event)"
  [class.backgroundVisible]="backgroundVisible"
>
  <app-contact-form
    (addedContact)="onContactAdded($event)"
    (closeOverlay)="removeBackground($event)"
  ></app-contact-form>
</div>

<div
  *ngIf="toastMessageVisible"
  class="toast-message"
  [@slideInOut]="toastAnimationState"
>
  Contact successfully created
</div>