<div class="card-layout" (click)="openTaskDetails(task)">
  <div class="wrapper-top">
    <p
      class="category-flag-card"
      [style.background-color]="task.category == 'user story' ? '#0038ff' : '#1fd7c1'"
    >
      {{ taskService.capitalize(task.category) }}
    </p>
  </div>
  <div class="task-card">
    <h1>{{ taskService.capitalize(task.title) }}</h1>
    <p class="task-description truncated see-more">
      {{ taskService.capitalize(task.description) }}
      <span class="see-more">…</span>
    </p>
    <div class="subtask-wrapper" [style.visibility]="subtaskList && subtaskList.length > 0 ? 'visible' : 'hidden'">
      <div class="subtask-bar-default">
        <div class="subtask-bar-fill" [ngStyle]="{ width: percentageCompleted(subtaskList) + '%' }"></div>
      </div>
      <span>
        {{ getCompletedSubtasksCount(subtaskList) }} / {{ subtaskList.length }} Subtasks
      </span>
    </div>
    <div class="card-bottom-wrapper">
      <div class="collaborators-wrapper">
        <div class="img-user-wrapper">
          <!-- NEU - nur 4 Kontakte zeigen -->
          @for (contact of contactList.slice(0, 4); track $index) {
            <div
              class="img-user"
              [style.background-color]="contactService.getContactColor(contact.name)"
            >
              <p class="contact-initials">
                {{ contactService.getInitials(contact.name) }}
              </p>
            </div>
          }
          <!-- NEU Bei mehr als 4 Kontakten eine Zahl anzeigen -->
          <div
            class="img-user more-count"
            *ngIf="contactList.length > 4"
            [title]="getRemainingContactNames(contactList.slice(4))"
          >
            +{{ contactList.length - 4 }}
          </div>
        </div>
      </div>
      <img
        src="assets/img/icons/prio-high.png"
        alt="Priority High Icon"
        class="card-priority"
        *ngIf="task.priority === 'urgent'"
      />
      <img
        src="assets/img/icons/prio-medium.png"
        alt="Priority Medium Icon"
        class="card-priority"
        *ngIf="task.priority === 'medium'"
      />
      <img
        src="assets/img/icons/prio-low.png"
        alt="Priority Low Icon"
        class="card-priority"
        *ngIf="task.priority === 'low'"
      />
    </div>
  </div>
</div>
