@import "./../../../styles.scss";

section {
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 30px;
  position: relative;
  flex-wrap: wrap;
  padding: 8px;
  @media (max-width: 1000px) {
    padding: 0;
    flex-direction: column;
    align-items: center;
    height: 760px;
    max-width: 390px;
    min-width: 320px;
  }
}

//#region left-frame
.left-frame {
    flex: 1 1 40%;
    min-width: 315px;
    width: 600px;
    height: 530px;
    background-color: var(--background-dark);
    border-radius: 30px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(16px, calc(2.86vw + 6.85px), 48px);
    gap: 12px;
    color: var(--text-color-light);
    @media (max-width: 1000px) {
        border-radius: 30px 30px 0px 0px;
        width: 100%;
    };
     @media (max-width: 330px) {
        width: 95%;
    };
}

.close-btn-wrapper {
    position: absolute;
    top: 4%;
    right: 45%;
    translate: 50% 0;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    @media(min-width: 1000px) {
        width: 95%;
        top: 8%;
        right: 51%;
    }
    
}

.btn-close {
    @include btn();
    width: 26px;
    height: 26px;
    padding: 0;
    &:hover {
        background-color: var(--background-default-light);
        border-radius: 50%;
    }
    @media (max-width: 1000px) {
        svg path{
            fill: var(--text-color-light);
        }
        &:hover {
            background-color: var(--accent-primary-color);
            border-radius: 50%;
        }
    }
}

h1 {
    @include inter700-fs61();
}

.sub-heading {
    @include inter400-fs27();
}

.logo {
    width: 55px;
    height: 65px;
    @media (max-width: 1000px) {
       display: none;
    };
}

.separator {
    width: 90px;
    height: 3px;
    background-color: var(--accent-primary-color);
}
//#endregion

//#region right-frame
.right-frame {
    flex: 1 1 60%;
    min-width: 315px;
    max-width: 725px;
    height: 530px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: clamp(16px, calc(2.86vw + 6.85px), 48px);
    gap: 60px;
    border-radius: 0px 30px 30px 0px;
    background-color: var(--background-light);
    @media (max-width: 1000px) {
        border-radius: 0px 0px 30px 30px;
        position: relative;
        width: 100%;
    };
    @media (max-width: 330px) {
        width: 95%;
    };
}

.form-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
    @media(max-width: 1000px) {
        flex-direction: column;
        flex: 1;
        justify-content: flex-start;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: clamp(12px, calc(1.56vw + 7px), 32px);
    flex:1;
    @media(max-width: 1000px) {
        margin-top: 80px;
    }
}

.form-group-wrapper {
    height: 50px;
    width: 100%;
}

.form-group {
    @include form-group();
    width: 100%;
    > input {
        @include inter400-fs20();
        flex:1;
    }
}

.colorError {
    border: 1px solid var(--text-color-error);
}

.error-message {
    @include inter400-fs12;
    color: var(--text-color-error);
    display: hidden;
}

input:focus {
    border: unset;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    height: 70px;
    gap: 24px;
    @media(max-width: 1000px) {
        justify-content: center;
    }
}

.btn-cancel {
    @include btn();
    @include btn-light();
    @include flex-center();
    @include svg-hover();
    @media(max-width: 1000px) {
        display: none;;
    }
}

.btn-save {
    @include btn();
    @include btn-dark();
    @include flex-center();
}

.btn-edit {
    @include btn();
    @include btn-dark();
    @include flex-center();
}

.btn-delete {
    @include btn();
    @include btn-light();
    @include flex-center();
}

.btn-save:disabled {
    background-color: var(--background-default-dark);
    cursor: unset;
}

.img-user-wrapper {
    min-width: 120px;
    height: 120px;
    background-color: var(--background-default-dark);
    border-radius: 50%;
    @include flex-center;
    @media(max-width: 1000px) {
        border: 2px solid var(--background-light);
        position: absolute;
        top: 0;
        transform: translate(0, -50%);
        margin-bottom: 45px;
    }
}

.img-user {
    width: 64px;
    height: 64px;
}

.contact-initials {
    @include inter500-fs47;
    color: var(--text-color-light)
}

.input-icon {
    width: 24px;
    height: 24px;
}

//#endregion