@import "./../../styles.scss";

.contact-list {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  padding: 16px;

  .add-button {
    margin-bottom: 16px;
    background-color: #2A3647;
    color: #FFFFFF;
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 21px;
    width: 352px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #364155;
    }

    &::after {
      content: '';
      width: 24px;
      height: 24px;
      background-image: url('../../../public/assets/img/svg/add-person.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  h4 {
    margin-top: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    padding-bottom: 8px;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 8px;
    width: 352px;
  }

  .contact-entry {
    display: flex;
    align-items: center;
    margin: 8px 0;

    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      font-weight: bold;
    }

    .info {
      .name {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #000000;
      }

      .email {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #007CEE;
      }
    }
  }
}

