<div class="contact-detail-section">
  <div class="contact-detail-content">
    <div class="contact-header">
      <h1>Contacts</h1>
      <div class="header-divider"></div>
      <p>Better with a team</p>
      <div class="back-btn mobile-back-btn" (click)="onBackToList()">
        <img src="assets/img/icons/arrow-left-line.png" alt="" />
      </div>
    </div>

    <div
      class="contact-content"
      *ngIf="contact && contactVisible"
      [@slideInFromRight]="animationState"
      [@.disabled]="isAnimationDisabled"
    >
      <div class="contact-container">
        <div
          class="user-logo"
          [style.background-color]="getContactColor(contact.name)"
        >
          <p>{{ getInitials(contact.name) }}</p>
        </div>
        <div class="user-name">
          <p>{{ contact.name || "Unbekannt" }}</p>

          <div class="user-options">
            <div class="option-item" (click)="onEditContact()">
              <img
                class="default-icon"
                src="assets/img/icons/edit-single2.png"
                alt=""
              />
              <img
                class="hover-icon"
                src="assets/img/icons/edit-single-hover.png"
                alt=""
              />
              <p>Edit</p>
            </div>

            <div class="option-item" (click)="onDeleteContact()">
              <img
                class="default-icon"
                src="assets/img/icons/delete.png"
                alt=""
              />
              <img
                class="hover-icon"
                src="assets/img/icons/delete-hover.png"
                alt=""
              />
              <p>Delete</p>
            </div>
          </div>
        </div>
      </div>

      <div class="contact-info">
        <h3>Contact Information</h3>

        <div class="contact-item email-item">
          <p class="contact-label">Email</p>
          <p class="contact-value">{{ contact.email || "Keine E-Mail" }}</p>
        </div>

        <div class="contact-item">
          <p class="contact-label">Phone</p>
          <p class="contact-value">
            {{ contact.phone || "Keine Telefonnummer" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
