
<!-- <div class="app-layout">
  <app-sidebar></app-sidebar>
  <div class="main-layout">
    <app-header></app-header>
    <div class="layout-container">
      <div class="content-wrapper">
        <div class="main-content">
          <router-outlet></router-outlet>
          
          <div class="contact-section">
            <div class="contact-list">
              <app-contact-list></app-contact-list>
            </div>
            <div class="contact-details">
              <app-contact-details></app-contact-details>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="app-layout">
  <app-sidebar></app-sidebar>
  <div class="main-layout">
    <app-header></app-header>
    
    <!-- Flex-Container für Contact-List und Contact-Details -->
    <div class="contacts-layout">
      <!-- Contact-List in begrenzter Struktur -->
      <div class="contact-list-container">
        <app-contact-list></app-contact-list>
      </div>
      
      <!-- Contact-Details ohne Begrenzung -->
      <div class="contact-details-wrapper">
        <app-contact-details></app-contact-details>
      </div>
    </div>
  </div>
</div>



<!-- Contact Form als Overlay - nur anzeigen wenn showForm$ true ist -->
<div *ngIf="showForm$ | async" class="contact-form-overlay" [@slideInOut]="animationDirection" (@slideInOut.done)="onOverlayAnimationDone($event)" [class.backgroundVisible]="backgroundVisible">
  <app-contact-form (addedContact)="onContactAdded($event)" (closeOverlay)="removeBackground($event)"></app-contact-form>
</div>

<div *ngIf="toastMessageVisible" class="toast-message" [@slideInOut]="toastAnimationState">
  Contact successfully created
</div>

<router-outlet></router-outlet>