@import "./../styles.scss";

.app-layout {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contacts-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.contact-list-container {
  flex-shrink: 0;
  width: 400px; // Feste Breite für die Contact-List
  max-width: 1440px;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
  overflow: hidden;
  
}

.contact-details-wrapper {
  flex: 1; // Nimmt den restlichen Platz ein
  min-width: 0;
  overflow: hidden;
}

.contact-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); // Start: transparent
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: background-color 300ms ease-in-out;

  &.backgroundVisible {
    background-color: rgba(0, 0, 0, 0.5); // Ziel: halbtransparent
  }
}

.toast-message {
  position: fixed;
  bottom: 10%;
  right: 20%;
  width: 330px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  @include inter400-fs20;
  color: var(--text-color-light);
  background-color: var(--background-dark);
  border-radius: 10px;
}

// Media Queries für responsive Design
// @media (max-width: 780px) and (min-width: 300px) {
//   .contacts-layout {
//     justify-content: center;
//     padding: 0 20px;
//   }
  
//   .contact-list-container {
//     width: 100%;
//     max-width: 500px;
//     flex: 1;
//     padding: 20px 0;
//   }
  
//   .contact-details-wrapper {
//     display: none; // Versteckt die Detailansicht bei kleineren Bildschirmen
//   }
// }

@media (max-width: 780px) and (min-width: 300px) {
  .contacts-layout {
    justify-content: center;
    padding: 0 20px;
  }
  
  .contact-list-container {
    width: 100%;
    max-width: 500px;
    flex: 1;
    padding: 20px 0;
    
    &.mobile-hidden {
      display: none;
    }
  }
  
  .contact-details-wrapper {
    display: none;
    
    &.mobile-visible {
      display: flex;
      flex: 1;
    }
  }
}