@import './../styles.scss';

.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  overflow: hidden;
}

.contact-section {
  display: flex;
  margin-top: 20px;
}

.contact-list{
  flex-shrink: 0;
}

.contact-details {
  flex: 1;
  min-width: 0;
}

.contact-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.toast-message {
  position: fixed;
  bottom: 10%;
  right: 20%;
  width: 330px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  @include inter400-fs20;
  color: var(--text-color-light);
  background-color: var(--background-dark);
  border-radius: 10px;
}

