.sidebar {
  width: 232px;
  height: 100vh;
  background-color: #2a3647;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 32px 0;
  font-family: 'Inter', sans-serif;

  .logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .logo {
      width: 55px;
      height: auto;
    }

    .logo-text {
      font-size: 18px;
      font-weight: 600;
      font-family: 'Inter', sans-serif;
    }
  }

  .navigation {
    display: flex;
    justify-content: center;
    width: 100%;

    ul {
        width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

       li {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 12px 24px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      width: 100%;
      box-sizing: border-box;
      
      img {
        width: 24px;
        height: 24px;
      }

      span {
        font-size: 16px;
        color: #cdcdcd;
        font-family: 'Inter', sans-serif;
      }

      &:hover {
        background-color: #2A3D59;

        span {
          color: white;
        }

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  .legal-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-bottom: 150px;
    cursor: pointer;

    a {
      font-size: 15px;
      font-weight: 400;
      color: #a8a8a8;
      text-decoration: none;
      font-family: 'Inter', sans-serif;

      &:hover {
       color: #29ABE2;
       font-size: 16px;
       font-weight: 700;
      }
    }
  }
}


