<div class="sidebar">
  <div class="logo-section">
    <img src="assets/img/logo/logo.png" alt="Join Logo" class="logo" />
  </div>
  <nav class="navigation">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/summary">
          <img src="assets/img/icons/summary-light.png" alt="Summary Icon" />
          <span>Summary</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/add-task">
          <img src="assets/img/icons/add-task.png" alt="Add Task Icon" />
          <span>Add Task</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/board">
          <img src="assets/img/icons/board.png" alt="Board Icon" />
          <span>Board</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/contacts">
          <img src="assets/img/icons/contacts.png" alt="Contacts Icon" />
          <span>Contacts</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="legal-links">
    <a routerLink="/privacy-policy">Privacy Policy</a>
    <a routerLink="/legal-notice">Legal notice</a>
  </div>
</div>


