<div class="sidebar">
  <div class="logo-section">
    <img src="assets/img/logo/logo.png" alt="Join Logo" class="logo" />
  </div>
  <nav class="navigation">
    <ul>
      <li routerLink="/summary" routerLinkActive="active">
        <img src="assets/img/icons/summary-light.png" alt="Summary Icon" />
        <span>Summary</span>
      </li>
      <li routerLink="/add-task" routerLinkActive="active">
        <img src="assets/img/icons/add-task.png" alt="Add Task Icon" />
        <span>Add Task</span>
      </li>
      <li routerLink="/board" routerLinkActive="active">
        <img src="assets/img/icons/board.png" alt="Board Icon" />
        <span>Board</span>
      </li>
      <li routerLink="/contacts" routerLinkActive="active">
        <img src="assets/img/icons/contacts.png" alt="Contacts Icon" />
        <span>Contacts</span>
      </li>
    </ul>
  </nav>
  <div class="legal-links">
    <a routerLink="/privacy-policy">Privacy Policy</a>
    <a routerLink="/legal-notice">Legal notice</a>
  </div>
</div>


