@import "./../../../styles.scss";

.login-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 40px;
    max-width: 1440px;
    height: auto;
    position: relative;

    span {
        text-decoration: none;
        color: var(--text-color-main);
    }

    @media (max-width: 406px){
        padding: 8px;
    }
}

.dark-logo-wrapper img {
    @media (max-width: 768px) {
        height: 72px;
        width: 64px;
    }
}

.wanna-signup-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    @include inter400-fs16();

    .btn-signup {
        cursor: pointer;
        height: 36px;
        border-radius: 6px;
        border: unset;
        min-width: 80px;
        transition: background-color 0.2s ease;
        justify-content: center;
        @include btn-dark();
        @include inter400-fs14();
        padding: 8px 12px;
    }

    @media (max-width: 768px) {
        display: none;
    }
}