@import "./../../../styles.scss";

//overlay
.content-wrapper {
    height: 760px;
    width: 450px;
    min-width: 315px;
    background-color: var(--background-light);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    gap: 24px;
    padding: clamp(16px, calc(2.86vw + 6.85px), 48px);
    position: relative;
    @include inter400-fs20();
    h1 {
        @include inter700-fs47();
    }
    @media(min-width: 1000px) {
        height: 820px;
    }
    @media(max-width: 550px) {
        width: 95%;
    }
}

.task-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    p {
        @include word-break;
    }
}

.wrapper-top {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between
}

.category-flag {
    @include inter400-fs20();
    height: auto;
    width: fit-content;
    padding: 8px clamp(10px, calc(0.54vw + 8.3px), 16px);
    border-radius: 10px;
    color: var(--text-color-light);
}

.btn-close {
    @include btn();
    width: 26px;
    height: 26px;
    padding: 0;
    &:hover {
        background-color: var(--background-default-light);
        border-radius: 50%;
    }
}

.btn-edit,
.btn-delete {
    @include inter400-fs16();
    @include flex-center();
    border: unset;
    background-color: transparent;
    gap: 8px;
    svg {
        width: 22px;
        height: 22px;
        path {
            fill: var(--background-dark);
        }
    }
    &:hover {
        color: var(--accent-primary-color);
        border-radius: 50%;
        svg path {
            fill: var(--accent-primary-color)
        }
    }
}

.btn-wrapper {
    position: absolute;
    bottom: clamp(16px, calc(2.86vw + 6.85px), 48px);
    right: clamp(16px, calc(2.86vw + 6.85px), 48px);;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.separator {
    width: 1px;
    height: 16px;
    background-color: var(--background-default-dark);
}

table {
    gap: 24px;
    width: 100%;
    border-collapse: collapse;
    tr, td {
        height: 48px;
    }
}

.priority-column {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    gap: 16px;
    div {
        display: flex;
        align-items: center;
        img {
        width: 20px;
        height: auto;
    }
    }
}

.img-user-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    .img-user{
        background-color: var(--background-default-light);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        @include flex-center();
    }
}

.contact-initials {
    @include inter400-fs12;
    color: var(--text-color-light);
}

.column-subtask-checkbox {
    display: flex;
    gap: 16px;
}

.contact-list,
.subtask-list {
    height: 140px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px; 
}

.column-contacts {
    display: flex;
    height: 48px;
}

.contact-item, .subtask-item {
    display: flex;
    align-items: center;
    gap: 16px; 
    @include word-break;
}