<section class="layout-container">
  <div class="board-header">
    <div><h1>Board</h1></div>
    <div class="header-controls">
      <div class="search-input-container">
        <div class="search-wrapper">
          <input
            type="text"
            placeholder="Find Task"
            [(ngModel)]="searchTerm"
            (input)="onSearchInput()"
            (blur)="onSearchBlur()"
            (focus)="onSearchInput()"
          />
          <div class="separator"></div>
          <div class="search-icon-wrapper">
            <img
              src="assets/img/icons/search.png"
              alt="Search"
              class="search-icon"
            />
          </div>

          <!-- NEU: Dropdown mit Suchergebnissen -->
          <div class="search-dropdown" *ngIf="showSearchResults">
            <div *ngIf="searchResults.length === 0" class="no-results">
              Keine Tasks gefunden
            </div>
            <div
              *ngFor="let task of searchResults"
              class="search-result-item"
              (click)="selectTaskFromSearch(task)"
            >
              <div class="task-status">{{ task.status }}</div>
              <div class="task-title">{{ task.title }}</div>
              <div class="task-description">
                {{ task.description | slice : 0 : 50 }}...
              </div>
              <!-- Ohne Kürzung -->
              <!-- <div class="task-description">
                {{ task.description }}
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <button>Add Task +</button>
    </div>
  </div>

  <div class="task-columns">
    <div class="column">
      <div class="column-header">
        <h2>To do</h2>
        <div class="icon-container">
          <img
            class="default-icon"
            src="assets/img/icons/add-box.png"
            alt="Add new task"
          />
          <img
            class="hover-icon"
            src="assets/img/icons/add-box-hover.png"
            alt="Add new task"
          />
        </div>
      </div>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        id="todoList"
        [cdkDropListConnectedTo]="[inprogressList, awaitfeedbackList, doneList]"
        class="drop-list"
        (cdkDropListDropped)="drop($event)"
      >
        @if (todo.length === 0) {
        <div class="empty-column">No tasks To do</div>
        }
        <!-- @for (item of todo; track item) {
         <app-task cdkDrag (taskSelected)="openTaskDetail($event)"></app-task>
        } -->

        <!-- NEU mit Datenbankabruf -->
        @for (task of taskList; track $index) { @if( task.status === 'to-do') {
        <app-task
          [cdkDragData]="task"
          cdkDrag
          (taskSelected)="openTaskDetail($event)"
          [task]="task"
          [subtaskList]="subtaskList"
          (subtaskForSelectedTask)="getSubtasks($event)"
        ></app-task>
        } }
      </div>
    </div>

    <div class="column">
      <div class="column-header">
        <h2>In progress</h2>
        <div class="icon-container">
          <img
            class="default-icon"
            src="assets/img/icons/add-box.png"
            alt="Add new task"
          />
          <img
            class="hover-icon"
            src="assets/img/icons/add-box-hover.png"
            alt="Add new task"
          />
        </div>
      </div>
      <div
        cdkDropList
        #inprogressList="cdkDropList"
        id="inprogressList"
        [cdkDropListData]="inprogress"
        [cdkDropListConnectedTo]="[todoList, awaitfeedbackList, doneList]"
        class="drop-list"
        (cdkDropListDropped)="drop($event)"
      >
        @if (inprogress.length === 0) {
        <div class="empty-column">No tasks To do</div>
        }
        <!-- @for (item of inprogress; track item) {
         <app-task cdkDrag (taskSelected)="openTaskDetail($event)"></app-task>
        } -->
        <!-- NEU mit Datenbankabruf -->
        @for (task of taskList; track $index) { @if( task.status ===
        'in-progress') {
        <app-task
          [cdkDragData]="task"
          cdkDrag
          (taskSelected)="openTaskDetail($event)"
          [task]="task"
          [subtaskList]="subtaskList"
          (subtaskForSelectedTask)="getSubtasks($event)"
        ></app-task>
        } }
      </div>
    </div>

    <div class="column">
      <div class="column-header">
        <h2>Await feedback</h2>
        <div class="icon-container">
          <img
            class="default-icon"
            src="assets/img/icons/add-box.png"
            alt="Add new task"
          />
          <img
            class="hover-icon"
            src="assets/img/icons/add-box-hover.png"
            alt="Add new task"
          />
        </div>
      </div>

      <div
        cdkDropList
        #awaitfeedbackList="cdkDropList"
        [cdkDropListData]="awaitfeedback"
        id="awaitfeedbackList"
        [cdkDropListConnectedTo]="[todoList, inprogressList, doneList]"
        class="drop-list"
        (cdkDropListDropped)="drop($event)"
      >
        @if (awaitfeedback.length === 0) {
        <div class="empty-column">No tasks To do</div>
        }
        <!-- @for (item of awaitfeedback; track item) {
         <app-task cdkDrag (taskSelected)="openTaskDetail($event)"></app-task>
        } -->

        <!-- NEU mit Datenbankabruf -->
        @for (task of taskList; track $index) { @if( task.status ===
        'await-feedback') {
        <app-task
          [cdkDragData]="task"
          cdkDrag
          (taskSelected)="openTaskDetail($event)"
          [task]="task"
          [subtaskList]="subtaskList"
          (subtaskForSelectedTask)="getSubtasks($event)"
        ></app-task>
        } }
      </div>
    </div>

    <div class="column">
      <div class="column-header">
        <h2>Done</h2>
        <div class="icon-container">
          <img
            class="default-icon"
            src="assets/img/icons/add-box.png"
            alt="Add new task"
          />
          <img
            class="hover-icon"
            src="assets/img/icons/add-box-hover.png"
            alt="Add new task"
          />
        </div>
      </div>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        id="doneList"
        [cdkDropListConnectedTo]="[todoList, inprogressList, awaitfeedbackList]"
        class="drop-list"
        (cdkDropListDropped)="drop($event)"
      >
        @if (done.length === 0) {
        <div class="empty-column">No tasks To do</div>
        }
        <!-- @for (item of done; track item) {
         <app-task cdkDrag (taskSelected)="openTaskDetail($event)"></app-task>
        } -->

        <!-- NEU mit Datenbankabruf -->
        @for (task of taskList; track $index) { @if( task.status === 'done') {
        <app-task
          [cdkDragData]="task"
          cdkDrag
          (taskSelected)="openTaskDetail($event)"
          [task]="task"
          [subtaskList]="subtaskList"
          (subtaskForSelectedTask)="getSubtasks($event)"
        ></app-task>
        } }
      </div>
    </div>
  </div>
</section>

<!-- vorerst hier eingebaut, um daran arbeiten zu können-->

<!-- Detailansicht für Task -->
<div
  class="task-overlay"
  [@slideInOut]="animationDirection"
  (@slideInOut.done)="onOverlayAnimationDone($event)"
  [class.backgroundVisible]="backgroundVisible"
  *ngIf="backgroundVisible"
>
  <app-task-details
    *ngIf="selectedTask"
    (closeTaskDetails)="closeDetailsOverlay($event)"
    [task]="selectedTask"
    [subtask]="subtaskForSelectedTask"
  ></app-task-details>
</div>

<!-- Task Cards für das Board -->
<!-- <app-task (taskSelected)="openTaskDetail($event)"></app-task> -->
