<section class="layout-container">
  <div class="board-header">
    <div><h1>Board</h1></div>
    <div class="header-controls">
      <div class="search-input-container">
        <input type="text" placeholder="Find Task" />
        <div class="separator"></div>
        <div class="search-icon-wrapper">
          <img
            src="assets/img/icons/search.png"
            alt="Search"
            class="search-icon"
          />
        </div>
      </div>
      <button>Add Task +</button>
    </div>
  </div>

  <div class="task-columns">
    <div class="column">
      <div class="column-header">
        <h2>To do</h2>
        <div class="icon-container">
          <img
            class="default-icon"
            src="assets/img/icons/add-box.png"
            alt="Add new task"
          />
          <img
            class="hover-icon"
            src="assets/img/icons/add-box-hover.png"
            alt="Add new task"
          />
        </div>
      </div>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[inprogressList, awaitfeedbackList, doneList]"
        class="drop-list"
        (cdkDropListDropped)="drop($event)"
      >
      @if (todo.length === 0) {
          <div class="empty-column">No tasks To do</div>
        }
        @for (item of todo; track item) {
        <!-- <div class="drop-box" cdkDrag>{{ item }}</div> -->
         <app-task cdkDrag (taskSelected)="openTaskDetail($event)"></app-task>
        }
      </div>
    </div>

    <div class="column">
      <div class="column-header">
        <h2>In progress</h2>
        <div class="icon-container">
          <img
            class="default-icon"
            src="assets/img/icons/add-box.png"
            alt="Add new task"
          />
          <img
            class="hover-icon"
            src="assets/img/icons/add-box-hover.png"
            alt="Add new task"
          />
        </div>
      </div>
      <div
        cdkDropList
        #inprogressList="cdkDropList"
        [cdkDropListData]="inprogress"
        [cdkDropListConnectedTo]="[todoList, awaitfeedbackList, doneList]"
        class="drop-list"
        (cdkDropListDropped)="drop($event)"
      >
      @if (inprogress.length === 0) {
          <div class="empty-column">No tasks To do</div>
        }
        @for (item of inprogress; track item) {
        <!-- <div class="drop-box" cdkDrag>{{ item }}</div> -->
         <app-task cdkDrag (taskSelected)="openTaskDetail($event)"></app-task>
        }
      </div>
    </div>

    <div class="column">
      <div class="column-header">
        <h2>Await feedback</h2>
        <div class="icon-container">
          <img
            class="default-icon"
            src="assets/img/icons/add-box.png"
            alt="Add new task"
          />
          <img
            class="hover-icon"
            src="assets/img/icons/add-box-hover.png"
            alt="Add new task"
          />
        </div>
      </div>

      <div
        cdkDropList
        #awaitfeedbackList="cdkDropList"
        [cdkDropListData]="awaitfeedback"
        [cdkDropListConnectedTo]="[todoList, inprogressList, doneList]"
        class="drop-list"
        (cdkDropListDropped)="drop($event)"
      >
      @if (awaitfeedback.length === 0) {
          <div class="empty-column">No tasks To do</div>
        }
        @for (item of awaitfeedback; track item) {
        <!-- <div class="drop-box" cdkDrag>{{ item }}</div> -->
         <app-task cdkDrag (taskSelected)="openTaskDetail($event)"></app-task>
        }
      </div>
    </div>

    <div class="column">
      <div class="column-header">
        <h2>Done</h2>
        <div class="icon-container">
          <img
            class="default-icon"
            src="assets/img/icons/add-box.png"
            alt="Add new task"
          />
          <img
            class="hover-icon"
            src="assets/img/icons/add-box-hover.png"
            alt="Add new task"
          />
        </div>
      </div>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, inprogressList, awaitfeedbackList]"
        class="drop-list"
        (cdkDropListDropped)="drop($event)"
      >
      @if (done.length === 0) {
          <div class="empty-column">No tasks To do</div>
        }
        @for (item of done; track item) {
        <!-- <div class="drop-box" cdkDrag>{{ item }}</div> -->
         <app-task cdkDrag (taskSelected)="openTaskDetail($event)"></app-task>
        }
      </div>
    </div>
  </div>
</section>


<!-- vorerst hier eingebaut, um daran arbeiten zu können-->

<!-- Detailansicht für Task -->
<div 
class="task-overlay" 
[@slideInOut]="animationDirection"
(@slideInOut.done)="onOverlayAnimationDone($event)"
[class.backgroundVisible]="backgroundVisible"
*ngIf="backgroundVisible">
  <app-task-details (closeTaskDetails)="closeDetailsOverlay($event)"></app-task-details>
</div>

<!-- Task Cards für das Board -->
<!-- <app-task (taskSelected)="openTaskDetail($event)"></app-task> -->
