<section class="layout-container">
  <div class="board-header">
    <div><h1>Board</h1></div>

    <div class="header-controls">
      <div class="search-input-container">
        <input type="text" placeholder="Find Task" />
        <div class="separator"></div>

        <div class="search-icon-wrapper">
          <img
            src="assets/img/icons/search.png"
            alt="Search"
            class="search-icon"
          />
        </div>
      </div>
      <button>Add Task +</button>
    </div>
  </div>
</section>
