<div class="contact-list">
  <button class="add-button" (click)="onAddNewContact()">Add new contact</button>

  <div *ngFor="let group of groupedContacts | keyvalue : keyAsc">
    <h4>{{ group.key }}</h4>
    <div
      *ngFor="let contact of group.value"
      class="contact-entry"
      [class.selected]="isSelected(contact)"
      (click)="onContactSelect(contact)"
    >
      <div class="avatar" [style.background-color]="contactService.getContactColor(contact.name)">
        {{ contactService.getInitials(contact?.name) }}
      </div>
      <p *ngIf="contact?.email === currentUserEmail" class="active-user">Me</p>
      <div class="info">
        <div class="name">
          {{ contact?.name || "Unbekannt" }}
        </div>
        <div class="email">{{ contact?.email || "Keine E-Mail" }}</div>
      </div>
    </div>
  </div>
</div>

<!-- Floating Action Button -->
<div class="fab-container">
  <button class="fab" (click)="onAddNewContact()">
    <img src="assets/img/svg/add-person.svg" alt="Add Contact" />
  </button>
</div>
