//#region fonts
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./../public/assets/fonts/inter-v19-latin-regular.woff2') format('woff2'); 
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./../public/assets/fonts/inter-v19-latin-500.woff2') format('woff2'); 
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./../public/assets/fonts/inter-v19-latin-700.woff2') format('woff2');
}

@mixin inter400-fs27 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: clamp(18px, calc(0.8vw + 15.5px), 27px);
}

@mixin inter400-fs20 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: clamp(16px, calc(0.36vw + 14.85px), 20px);
}

@mixin inter400-fs16 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
}

@mixin inter400-fs14 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
}

@mixin inter400-fs12 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
}

@mixin inter500-fs47 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: clamp(37px, calc(0.89vw + 33px), 47px);
}

@mixin inter700-fs61 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: clamp(40px, calc(1.875vw + 34px), 61px);
}

@mixin inter700-fs21 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: clamp(18px, calc(0.27vw + 17.14px), 21px);
}

@mixin inter700-fs16 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
}
//#endregion

//#region global default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  input,
  textarea {
    border: unset;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.layout-container {
  max-width: 1440px;
  margin-left: 0;
  margin-right: auto;
  width: 100%;
}
//#endregion


//#region custom properties
:root {
  // Farben
  --accent-primary-color: #29aae2; //Kleine Highlights & Hover-Farben
  --text-color-main: #000000;
  --text-color-light: #ffffff;
  --text-color-medium: #b9babc;
  --text-color-dark: #2a3647;
  --text-color-error: red;
  --background-main: #f6f7f8;
  --background-dark: #2a3647;
  --background-light: #ffffff;
  --background-default-light: #e7e7e7; //defaults für leere Felder (Tickets, Kontaktformular)
  --background-default-dark: #d1d1d1;

  // Fonts
  --font-primary: 'Inter', sans-serif;
  // --font-secondary: 'Open Sans', sans-serif;
  // --font-heading: 'Montserrat', serif;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin form-group {
  height: fit-content;
  width: clamp(350px, calc(6.43vw + 142.6px), 422px);
  border-radius: 10px;
  border: 1px solid var(--background-default-dark);
  padding: clamp(8px, calc(0.45vw + 6.56px), 13px) clamp(18px, calc(0.27vw + 17.14px), 21px);
  @include flex-between();
  @include inter400-fs20();
  &:focus-within {
     border: 1px solid var(--accent-primary-color);
  }
}

@mixin btn {
  cursor: pointer;
  height: 56px;
  width: fit-content;
  padding: 16px clamp(10px, calc(0.54vw + 8.3px), 16px);
  gap: 8px;
  border-radius: 10px;
  border: unset;
  background-color: unset;
}

@mixin btn-light {
  border: 1px solid var(--background-dark);
  color: var(--text-color-dark);
  @include inter400-fs20();
  &:hover {
    color: var(--accent-primary-color);
    border: 1px solid var(--accent-primary-color);
  }
}

@mixin btn-dark {
  background-color: var(--background-dark);
  color: var(--text-color-light);
  @include inter700-fs21();
  &:hover {
    background-color: var(--accent-primary-color);
  }
}

@mixin svg-hover {
  &:hover {
    svg path{
            fill: var(--accent-primary-color);
        }
  }
}
//#endregion

