//#region fonts
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./../public/assets/fonts/inter-v19-latin-regular.woff2")
    format("woff2");
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("./../public/assets/fonts/inter-v19-latin-500.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./../public/assets/fonts/inter-v19-latin-700.woff2") format("woff2");
}

@mixin inter400-fs27 {
  font-family: "Inter";
  font-weight: 400;
  font-size: clamp(18px, calc(0.8vw + 15.5px), 27px);
}

@mixin inter400-fs20 {
  font-family: "Inter";
  font-weight: 400;
  font-size: clamp(16px, calc(0.36vw + 14.85px), 20px);
}

@mixin inter400-fs16 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
}

@mixin inter400-fs14 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
}

@mixin inter400-fs12 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
}

@mixin inter500-fs47 {
  font-family: "Inter";
  font-weight: 500;
  font-size: clamp(37px, calc(0.89vw + 33px), 47px);
}

@mixin inter500-fs27 {
  font-family: "Inter";
  font-weight: 500;
  font-size: clamp(18px, calc(0.8vw + 15.5px), 27px);
}

@mixin inter500-fs20 {
  font-family: "Inter";
  font-weight: 500;
  font-size: clamp(16px, calc(0.36vw + 14.85px), 20px);
}

@mixin inter700-fs61 {
  font-family: "Inter";
  font-weight: 700;
  font-size: clamp(40px, calc(1.875vw + 34px), 61px);
}

@mixin inter700-fs47 {
  font-family: "Inter";
  font-weight: 700;
  font-size: clamp(37px, calc(0.89vw + 33px), 47px);
}

@mixin inter700-fs27 {
  font-family: "Inter";
  font-weight: 700;
  font-size: clamp(18px, calc(0.8vw + 15.5px), 27px);
}

@mixin inter700-fs21 {
  font-family: "Inter";
  font-weight: 700;
  font-size: clamp(18px, calc(0.27vw + 17.14px), 21px);
}

@mixin inter700-fs16 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
}
//#endregion

//#region global default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  input,
  textarea {
    border: unset;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

//TEST
// html, body {
//   min-height: 100vh;
//   height: auto;
// }

.layout-container {
  max-width: 1440px;
  margin-left: 0;
  margin-right: auto;
  width: 100%;
}

// Globale CDK Drag Overrides
.cdk-drag-dragging {
  cursor: grabbing !important;
  // transform: rotate(5deg) !important;
  rotate: 5deg;

  &,
  * {
    cursor: grabbing !important;
  }
}

.cdk-drag-preview {
  cursor: grabbing !important;
  rotate: 5deg;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);

  &,
  * {
    cursor: grabbing !important;
  }
}

//#endregion

//#region custom properties
:root {
  // Farben
  --accent-primary-color: #29aae2; //Kleine Highlights & Hover-Farben
  --text-color-main: #000000;
  --text-color-light: #ffffff;
  --text-color-medium: #b9babc;
  --text-color-dark: #2a3647;
  --text-color-error: red;
  --background-main: #f6f7f8;
  --background-dark: #2a3647;
  --background-light: #ffffff;
  --background-default-light: #e7e7e7; //defaults für leere Felder (Tickets, Kontaktformular)
  --background-default-dark: #d1d1d1;

  // Fonts
  --font-primary: "Inter", sans-serif;
  // --font-secondary: 'Open Sans', sans-serif;
  // --font-heading: 'Montserrat', serif;
}

@mixin truncated-3lh {
  position: relative;
  min-height: 2lh;
  max-height: 3lh;
  overflow: hidden;
}

@mixin truncated-2lh {
  position: relative;
  min-height: 1lh;
  max-height: 2lh;
  overflow: hidden;
}

@mixin truncated-1lh {
  position: relative;
  height: 1lh;
  overflow: hidden;
}

@mixin word-break {
  overflow-wrap: break-word;
  word-break: normal;
  line-break: auto;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@mixin form-group {
  height: fit-content;
  width: clamp(350px, calc(6.43vw + 142.6px), 422px);
  border-radius: 10px;
  border: 1px solid var(--background-default-dark);
  padding: clamp(8px, calc(0.45vw + 6.56px), 13px)
    clamp(18px, calc(0.27vw + 17.14px), 21px);
  @include flex-between();
  @include inter400-fs20();
  &:focus-within {
    border: 1px solid var(--accent-primary-color);
  }
}

@mixin btn {
  cursor: pointer;
  height: 56px;
  width: fit-content;
  padding: 16px clamp(10px, calc(0.54vw + 8.3px), 16px);
  gap: 8px;
  border-radius: 10px;
  border: unset;
  background-color: unset;
}

@mixin btn-light {
  border: 1px solid var(--background-dark);
  color: var(--text-color-dark);
  @include inter400-fs20();
  &:hover {
    color: var(--accent-primary-color);
    border: 1px solid var(--accent-primary-color);
  }
}

@mixin btn-dark {
  background-color: var(--background-dark);
  color: var(--text-color-light);
  @include inter700-fs21();
  &:hover {
    background-color: var(--accent-primary-color);
  }
}

@mixin svg-hover {
  &:hover {
    svg path {
      fill: var(--accent-primary-color);
    }
  }
}

// ======================
// Mixins Summary Section
// ======================

@mixin cards {
  width: 150px;
  height: 150px;
  @include flex-direction();
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 5px 10px 18px #888888;
  transition: all 0.2s ease-in-out;
}

@mixin summary-card {
  width: 238px;
  height: 150px;
  @include flex-center();
  background-color: white;
  border-radius: 30px;
  gap: 24px;
  cursor: pointer;
  box-shadow: 5px 10px 18px #888888;
  transition: all 0.2s ease-in-out;
}

@mixin summary-card-hover($svg-path-prop: fill, $svg-path-color: #2a3647) {
  background-color: var(--background-dark);
  transform: scale(1.1);

  .svg-circle {
    fill: white;
  }
  .svg-path {
    #{$svg-path-prop}: $svg-path-color;
  }
  .info-text {
    .counter,
    .task-info {
      color: white;
    }
  }
}

@mixin summary-card-hover-light {
  background-color: var(--background-dark);
  transform: scale(1.1);

  .info-text {
    .counter,
    .task-info {
      color: white;
    }
  }
}

//#endregion
