@import "./../../../styles.scss";

.link-wrapper {
    color: var( --text-color-medium);
    @include inter400-fs16();
    @include flex-center();
    gap: 3rem;
    margin-top: 2rem;

    a {
        text-decoration: none;
        color: var( --text-color-medium);
    }

    @media(max-width: 768px) {
       margin-top: 1rem;
    }

    @media (max-width: 406px){
        margin-top: 1rem;
    }
}