@import "./../../../styles.scss";

.link-wrapper {
    color: var( --text-color-medium);
    @include inter400-fs16();
    @include flex-center();
    gap: 3rem;
    height: 80px;

    a {
        text-decoration: none;
        color: var( --text-color-medium);
    }

    @media (max-width: 406px){
        margin-top: 3.5rem;
    }
}